* {
  font-family: Helvetica, Arial, sans-serif;
  color: red;
}

body {
  padding: 60px;
  background-color: black;
}

.titleApp {
  margin-left: 40px;
  margin-bottom: 50px;
  width: 30%;
  color: red;
}

input {
  color: black;
  font-size: 1.2rem;
  margin-bottom: 50px;
  margin-left: 40px;
  width: 60%;
}
.card {
  align-content: center;
  border: 3px solid black;
  border-radius: 6px;

  margin-bottom: 30px;
  margin-right: 15px;
  overflow: hidden;
}

.card img {
  max-height: 150px;
}
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
